header {
  padding-top: 73px;
  background: rgba(1, 78, 86, 1);
}
.he1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.he2 {
  display: flex;
  align-items: center;
  gap: 81px;
}

.nav-list {
  gap: 40px;
  align-items: center;
  display: flex;
  @media (max-width: 800px) {
    display: none;
  }
}
.nav-link {
  color: rgba(255, 255, 255, 1);
  font-family: Livvic, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.nav-link:hover {
  color: rgb(141, 23, 23);
  transition: color 0.5s linear;
}
.btn-he {
  border: 2px solid #fff;
  padding: 9px 32px;
  border-radius: 35px;
  font-family: Livvic, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  @media (max-width: 800px) {
    display: none;
  }
}
.btn-he:hover {
  background-color: #ffffff00;
  color: rgba(1, 78, 86, 1);
  transition: background-color 1s linear;
}

/*-----------------------------------------------------*/

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #ffffff00;
  border-radius: 0% 10% 2% 45%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #ffffff00, 0 0 0 0 #ffffff00;
  cursor: pointer;
  display: none;
  @media (max-width: 400px) {
    display: inline;
  }
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000000;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #ffffff, 0 0 0 100vh #ffffff;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 36px;
  font-family: Livvic, sans-serif;
}
